{
  "checkCoverage": true,
  "include": [
    "index.js",
    "src/*",
    "!src/wasm/*"
  ],
  "reporter": [
    "text",
    "html"
  ],
  "lines": 100,
  "branches": 100,
  "functions": 100,
  "statements": 100
}
