* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

.App {
  position: relative;
	font-family: sans-serif;
  background-color: #000;
  color: #fff;
}

.App select {
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  appearance: none;
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
}

.BarcodeScanner {
  width: 100vw;
  height: 100vh;
}

.BarcodeScanner .no-camera {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 4em;
}

.BarcodeScanner.acquiring .no-camera .sign {
  visibility: hidden;
}

.BarcodeData.overlay {
  position: absolute;
  top: 8em;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  max-width: 100%;
  overflow: hidden;
  white-space: no-wrap;
  text-overflow: ellipsis;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 1.2em; 
  opacity: 0.6;
}

.BarcodeData:empty {
  visibility: hidden;
}

.BarcodeData a:link, 
.BarcodeData a:visited {
  text-decoration: none;
}

.ClearButton {
  position: absolute;
  bottom: 8em;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  background-color: #ffa;
  color: #000;
  padding: 0.5em;
  border-radius: 5px;
  opacity: 0.8;
  cursor: pointer;
}