* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

.App {
  position: relative;
	font-family: sans-serif;
  background-color: #000;
  color: #fff;
}

.App select {
  position: absolute;
  top: 1em;
  right: 1em;
  width: fit-content;
  appearance: none;
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  z-index: 1;
}

.App nav {
  position: absolute;
  top: 1.6em;
  left: 1em;
  z-index: 2;
}

.App nav span {
  display: inline-block;
  margin-left: 0.5em;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.1em 0.1em 0.1em 0.1em;
  width: 1.5em;
  border-radius: 1em;
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
}

.App nav span.on {
  color: rgba(255, 255, 255, 0.8);
}

.App nav span.off {
  color: rgba(128, 128, 128, 0.5);
  border-color: rgba(128, 128, 128, 0.25);
}

.BarcodeScanner {
  width: 100vw;
  height: 100vh;
}

.BarcodeScanner .no-camera {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 4em;
}

.BarcodeScanner.acquiring .no-camera .sign {
  visibility: hidden;
}

.BarcodeData.overlay {
  position: absolute;
  top: 8em;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  max-width: 100%;
  overflow: hidden;
  white-space: no-wrap;
  text-overflow: ellipsis;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 1.2em; 
  opacity: 0.6;
}

.BarcodeData.full {
  width: 100vw;
  height: 100vh;
  padding: 8em 1em 8em 1em;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  text-align: center;
  font-size: 1.2em; 
}

.BarcodeData:empty {
  visibility: hidden;
}

.BarcodeData a:link, 
.BarcodeData a:visited {
  text-decoration: none;
}

.ClearButton {
  position: absolute;
  bottom: 8em;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  background-color: #ffa;
  color: #000;
  padding: 0.5em;
  border-radius: 5px;
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 400px) {
  .App select {
    font-size: 1.2em;
  }

  .App nav span {
    font-size: 1.2em;
  }

  .BarcodeData.overlay {
    top: 4em;
  }
}