* {
  box-sizing: border-box;
}

body {
	font-family: sans-serif;
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.App {
  position: relative;
}

.App .data {
  position: absolute;
  top: 8em;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  background-color: #ccc;
  color: #000;
  padding: 0.5em;
  border-radius: 5px;
  opacity: 0.6;
}

.App .data:empty {
  visibility: hidden;
}

.App .BarcodeScanner {
  width: 100vw;
  height: 100vh;
}

.App .BarcodeScanner .no-camera {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 4em;
}

.BarcodeScanner.acquiring .no-camera .sign {
  visibility: hidden;
}
